body {
    background-color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

.container-cadastro {
    width: 700px;
    height: 650px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.tituloCadastro {
    font-family: "Aachen";
}

.inputsCadastro {
    font-family: "Cooper Black";
}

.inputsCadastro input {
    width: 500px;
    height: 30px;
    border-radius: 30px;
}