@font-face {
    font-family: "Cooper Black";
    src: url(fontes/CooperFiveOpti-Black.otf);
}

@font-face {
    font-family: "Aachen";
    src: url(fontes/ufonts.com_aachen-bold-opentype.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


body {
    background-color: black;
}

.banner {
    width: 100%;
    background-image: url('img/Banner\ Tarantino.png');
    background-size: cover;
    min-height: 110vh
}

.container-grid {
    font-family: "Cooper Black";
    width: 90vw;
    max-width: 1800px;
    margin: 0 auto;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin: 60px;
}

.menu a:hover {
    color: #F9D500;
    transition: 500ms;
}

.container-grid .titulo {
    font-family: "Aachen";
}


.container-grid .titulo a {
    color: #F9D500;
    font-size: 38px;
    text-decoration: none;
}


/* História */

.historia {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container-historia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.titulo-historia {
    padding-top: 70px;
    font-family: "Aachen";
    font-size: 50px;
    color: #F9D500;
}

.imagem-historia {
    width: 350px;
}

.imagem-historia {
    width: 100%;
    height: auto;
    display: block;
}

.conteudo-historia {
    font-family: "Cooper Black";
    color: #fff;
    max-width: 800px;
    font-size: 24px;
}

/* Carrossel estética */


.tituloEstetica {
    margin-top: 70px;
    font-family: "Aachen";
    font-size: 40px;
    color: #F9D500;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.estetica-carrossel {
    position: relative;
    padding: 15px;
    max-width: 1500px;
    margin: 0 auto;
}

.carrossel {
    overflow-x: auto;
}

.cards {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

/* .arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 40px;
    background: none;
    opacity: 0.5;
    transition: 400ms ease-in-out;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    left: auto;
    right: 0;
}


.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
} */

.imagemCard {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}


.cards h1 {
    font-family: "Cooper Black";
    font-size: 17px;
    margin-top: 10px;
}

.cards p {
    margin-top: 15px;
    font-family: "Inter";
    font-size: 14px;
}

/* Filmografia */


.filmografia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloFilmografia {
    margin-top: 70px;
    font-family: "Aachen";
    font-size: 40px;
    color: #F9D500;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.filmes {
    width: 100%;
    height: auto;
}



.cardFilmes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.cardFilmes img {
    height: auto;
    width: auto;
    max-height: 90%;
}

.caes {
    background-color: #C18D5D;
}

.caes img {
    width: 550px;
    height: 167px;
}


.pulpFiction {
    background-color: #000;
}

.jackieBrown {
    background-color: #003466;
}

.killBill {
    background-color: #FFD401;
}

.killBill img {
    width: 700px;
    height: 179px;
}

.provaDeMorte {
    background-color: #B13529;
}

.provaDeMorte img {
    width: 1000px;
    height: 195px;
}

.bastardos {
    background-color: #FFFFFF;
}

.bastardos img {
    width: 700px;
    height: 222px;
}

.django {
    background-color: #D9C07D;
}

.oitoOdiados {
    background-color: #E9E8E6;
}

.eraUmaVez {
    background-color: #E34633;
}

/* Footer */

.conteudo-footer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    font-family: "Cooper Black";
    color: #F9D500;
    font-size: 20px;
}