@font-face {
    font-family: "Aachen";
    src: url(../../fontes/ufonts.com_aachen-bold-opentype.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.containerGeral {
    display: flex;
    justify-content: center;
}

.container-avaliacao {
    width: 650px;
    height: 550px;
    background-color: #000;
    border-radius: 50px;
    border: 4px solid #F9D500;
    padding: 10px;
}

.titulo_avaliacao {
    display: flex;
    justify-content: center;
}

.titulo_avaliacao h1 {
    color: #F9D500;
    font-family: 'Aachen';
    font-size: 40px;
}

.avaliacaoGeral_avaliacao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}

.avaliacaoGeral_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.avaliacao-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.avaliacao-icone input[type="radio"] {
    display: none;
}

.avaliacao-icone label svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.avaliacao-icone label svg path {
    fill: transparent;
    stroke: #F9D500;
    stroke-width: 2px;
    transition: 0.2s ease;
}

.avaliacao-icone input[type="radio"]:checked~label svg path,
.avaliacao-icone label:hover svg path,
.avaliacao-icone label:hover~label svg path {
    fill: #F9D500;
}

.dialogoTrilha {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.dialogo_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}

.Dialogo-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.Dialogo-icone input[type="radio"] {
    display: none;
}

.Dialogo-icone label svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.Dialogo-icone label svg path {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 4px;
    transition: 0.2s ease;
}

.Dialogo-icone input[type="radio"]:checked~label svg path,
.Dialogo-icone label:hover svg path,
.Dialogo-icone label:hover~label svg path {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.sangue-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.sangue-icone input[type="radio"] {
    display: none;
}

.sangue-icone label svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.sangue-icone label svg path {
    fill: transparent;
    stroke: #8B0000;
    stroke-width: 3px;
    transition: 0.2s ease;
}

.sangue-icone input[type="radio"]:checked~label svg path,
.sangue-icone label:hover svg path,
.sangue-icone label:hover~label svg path {
    fill: #8B0000;
}

.trilha_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}

.Trilha-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.Trilha-icone input[type="radio"] {
    display: none;
}

.Trilha-icone label svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.Trilha-icone label svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;
    transition: 0.2s ease;
}

.Trilha-icone input[type="radio"]:checked~label svg path,
.Trilha-icone label:hover svg path,
.Trilha-icone label:hover~label svg path {
    fill: #fff;
}

.sangueTensao {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.sangue_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}

.sangue-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.sangue-icone input[type="radio"] {
    display: none;
}

.sangue-icone label svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.sangue-icone label svg path {
    fill: transparent;
    stroke: #8B0000;
    stroke-width: 3px;
    transition: 0.2s ease;
}

.sangue-icone input[type="radio"]:checked~label svg path,
.sangue-icone label:hover svg path,
.sangue-icone label:hover~label svg path {
    fill: #8B0000;
}

.tensao_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}

.tensao-icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.tensão-icone input[type="radio"] {
    display: none;
}

.tensão-icone label svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tensão-icone label svg path {
    fill: transparent;
    stroke: #8B0000;
    stroke-width: 2px;
    transition: 0.2s ease;
}

.tensão-icone input[type="radio"]:checked~label svg path,
.tensão-icone label:hover svg path,
.tensão-icone label:hover~label svg path {
    fill: #8B0000;
}

.destaqueEmocao {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.destaque_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}

.emocao_avaliacao h1 {
    color: #fff;
    font-family: 'Aachen';
    font-size: 20px;
    text-align: center;
}